/*
 * Platform Requirements
 */

/* Calendar */
#calendar {
  margin-bottom: 15px;
  background-color: #fff;
}

#calendar-small {
  margin-bottom: 15px;
  background-color: #fff;
}

#calendar div[role=gridcell] {
  min-height: 80px !important;
}

#calendar div[role=button] {
  cursor: pointer;
}

#calendar-tooltip, #calendar-tooltip-small {
  border-radius: 12px;
}
