# This workflow will build a Java project with Ant
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-ant

name: Java CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Compile the source
      run: ant -noinput -buildfile build.xml clean compile
    - name: Check the code style
      run: ant -noinput -buildfile build.xml checkstyle
    - name: Run unit tests
      run: ant -noinput -buildfile build.xml -lib lib/tests ci-test
    - name: Package the web application
      run: ant -noinput -buildfile build.xml -lib lib/war package
